/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'Muro';
  src: url("../fonts/Muro/MuroRegular.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

html {
  overflow-x: hidden;
}

html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

html.overflow body {
  height: auto;
  position: relative;
  overflow: hidden !important;
}

body {
  font-family: "Segoe", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: #fff;
  line-height: 22px;
  color: #1a1a1a;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

/*styles*/
.wrapper {
  max-width: 1140px;
  min-width: 360px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

input, button, textarea {
  font-family: "Segoe", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

span, a, label {
  display: inline-block;
  vertical-align: middle;
}

.flex-c {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-s-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-s {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* ====================== */
#vue-app {
  position: relative;
}

/* HEADER */
.header {
  padding: 15px 0 0 0;
  margin-bottom: 30px;
}

.header .wrapper > * {
  display: inline-block;
}

.header-logo img {
  width: 48px;
  height: 48px;
}

.header p {
  margin-top: 5px;
}

/* ====================== */
/* MAIN */
/* project */
.main {
  padding: 0 30px 50px 30px;
}

.main h1 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 40px;
}

/* ====================== */
/* FOOTER */
/* social */
.footer-social {
  position: fixed;
  left: 25px;
  bottom: 50px;
  font-size: 15px;
  z-index: 1;
  color: #7b7b7b;
  transform: rotate(90deg) translateX(-100%);
  transform-origin: left;
}

.footer-social__item + .footer-social__item {
  margin-left: 20px;
}

.footer-social__item {
  position: relative;
  transition: color .3s;
}

.footer-social__item:before, .footer-social__item:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  transform: translateX(-50%);
  bottom: -5px;
  background-color: #7b7b7b;
  border-radius: 3px;
  transition: all 0.3s, width 0.3s;
  transition-delay: 0s;
}

.footer-social__item:before {
  left: calc(50% - 5px);
}

.footer-social__item:after {
  right: calc(50% - 5px);
}

/* ====================== */
/*MODAL*/
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 102;
  padding: 100px 30px 30px;
  overflow-x: hidden;
}

.modal.active {
  display: block;
}

.modal.active .modal__zoom {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal img {
  max-width: 100%;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* MEDIA */
@media (min-width: 1025px) {
  .footer-social__item:hover:after {
    right: 0;
  }
  .footer-social__item:hover:before {
    left: 0;
  }
  .footer-social__item:hover::before, .footer-social__item:hover:after {
    transform: translateX(0%);
    width: 100%;
    transition-delay: 0s , .3s;
  }
}

@media (max-width: 1139px) {
  /* Main */
  .main {
    padding: 0 0 30px 0;
  }
  /* ====================== */
  /* Footer */
  .footer-social {
    padding-bottom: 15px;
    position: static;
    transform: initial;
    display: flex;
    justify-content: center;
  }
  .footer-social__item:before, .footer-social__item:after {
    display: none;
  }
  /* ====================== */
}

@media (max-width: 719px) {
  .main h1 {
    font-size: 28px;
  }
}
